body {
  background-image: url(https://media.tenor.com/QjQoRq2sfTEAAAAd/galaxy-universe.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.countainer {
  text-align: center;
  font-family: fantasy;
  color: rgb(133, 24, 133);
  text-shadow: 10px 10px 10px rgba(77, 4, 99, 0.918);
  font-size: 35px;
}

.bct {
  height: 400px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
